<link rel="stylesheet" href="../stylesheets/headstyle.css">
<div id="d1">
    <nav>
        <a href="/">Home</a>
        <a href="/viewdate">View COVID-19 Dashboard</a>
        <a href="/viewstate">View State Wise Details</a>
        <a href="/add">Add Record</a>
    </nav>
</div>
