<%- include('header'); -%>
<head>
    <link rel="stylesheet" href="../stylesheets/homestyle.css">
    <title>COVID-19 Tracker</title>
</head>

<body>

<div id="d2">
<h1>Welcome to the COVID-19 Tracker</h1>
<p>This website provides information on COVID-19 data</p>
</div>

</body>
